# Node
node_modules/
npm-debug.log*
package-lock.json
.yarn/
.pnp.*

# Next.js
.next/
out/
.next/cache/

# Local env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mac / Windows
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
logs/
*.log

# Coverage
coverage/

# Build
dist/

# Misc
*.tgz
